<!DOCTYPE html>
<html ng-app="apisuite">
<head>
  <title>Admin</title>
</head>
<body ng-controller="EndpointController">
<a href="/">Endpoints</a> | <a href="/plugin.html">Plugins</a> | <a href="/docs">Documentations</a>
<hr />
<table width="300">
  <tr>
    <th>Path</th>
    <th>Method</th>
    <th></th>
  </tr>
  <tr ng-repeat="endpoint in endpoints">
    <td>{{endpoint.path}}</td>
    <td>{{endpoint.method | uppercase }}</td>
    <td><button ng-click="setCurrentEndpoint(endpoint)">Test</button></td>
  </tr>
</table>

<div ng-if="endpoint">
  <dl>
    <dt>Path:</dt>
    <dd><input type="text" ng-model="test.path" /></dd>
  </dl>
  <dl>
    <dt>Secure Hash:</dt>
    <dd><input type="text" ng-model="test.hash" value="dc93891f6773cbeeb7871c6ba7c22a19" /></dd>
  </dl>
  <dl>
    <dt>Method:</dt>
    <dd>{{endpoint.method | uppercase}}</dd>
  </dl>
  <dl ng-if="['post', 'put'].indexOf(endpoint.method) != -1">
    <dt>Data:</dt>
    <dd>
      <textarea rows="10" style="width:500px" ng-model="test.data"></textarea>
    </dd>
  </dl>
  <button ng-click="submitTest()">Test</button>
  <dl ng-if="result">
    <dt>Result:</dt>
    <dd><pre>{{result | json}}</pre></dd>
  </dl>
</div>
<script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>