<!DOCTYPE html>
<html ng-app="apisuite">
<head>
  <title>Admin</title>
</head>
<body ng-controller="PluginController">
<a href="/">Endpoints</a> | <a href="/plugin.html">Plugins</a> | <a href="/docs">Documentations</a>
<hr />
<div ng-repeat="(pid, plugin) in plugins">
  <cite>#{{pid}}</cite>
  <h2 style="margin-top: 0"><a href="#" ng-click="show(pid)">{{plugin.name}}</a></h3>
  <div ng-if="current==pid">
    <dl>
      <dt><b>Description:</b></dt>
      <dd>{{plugin.description}}</dd>
    </dl>
    <dl>
      <dt><b>Requirements:</b></dt>
      <dd>{{plugin.requirements || "NONE"}}</dd>
    </dl>
    <dl>
      <dt><b>Services:</b></dt>
      <dd>{{plugin.services || "NONE"}}</dd>
    </dl>
    <dl>
      <dt><b>Permissions:</b></dt>
      <dd>{{plugin.permissions || "NONE"}}</dd>
    </dl>
  </div>
  <hr />
</div>
<script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>